/dist
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.repl/*
.lein-repl-history
/.nrepl-port
out/*
/static/js/main.js
/static/js/main.js.map
/static/data/custom.json
/manticore-release.zip
/manifest.appcache
*.DS_Store
/node_modules/*
static/js/worker.js
static/js/data-access.js
static/js/processing.js
static/js/contrib.js
