/dist
/lib
/classes
/checkouts
/build
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.repl/*
.lein-repl-history
/.nrepl-port
out/*
/static/js/**/*
/static/data/custom.json
/manticore-release.zip
/manifest.appcache
*.DS_Store
/node_modules/*
static/js/worker.js
static/js/data-access.js
static/js/processing.js
static/js/processing-fallback.js
static/js/contrib.js
static/css/common.css
static/css/global.css
static/css/input-range.css
static/css/style.css
