@font-face {
    font-family: 'alegreya';
    src: url('alegreya/alegreya-regular-webfont.woff') format('woff'),
         url('alegreya/alegreya-regular-webfont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreya';
    src: url('alegreya/alegreya-italic-webfont.woff') format('woff'),
         url('alegreya/alegreya-italic-webfont.otf') format('opentype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'alegreya';
    src: url('alegreya/alegreya-bold-webfont.woff') format('woff'),
         url('alegreya/alegreya-bold-webfont.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'alegreya';
    src: url('alegreya/alegreya-bolditalic-webfont.woff') format('woff'),
         url('alegreya/alegreya-bolditalic-webfont.ttf') format('opentype');
    font-weight: bold;
    font-style: italic;

}



* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  box-sizing: border-box;
}

img { 
    -moz-box-sizing: content-box; -webkit-box-sizing: content-box;  box-sizing: content-box;
}

body {   
    background: #F2F2EB;
    color: #461B0E;
    font-family: 'Alegreya', serif;
    font-size: 10pt;
    line-height: 1.2;
    border-top: 10px solid #097E6C;
}

h1 {
    margin: 0.25em 0;
}

a {
    text-decoration: none;
    border-bottom: 1px solid rgba(14, 0, 194, 0.5);
    color: rgb(14, 0, 194);
}


/* clearfix */
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}

/* specifc styling */

body >  header {
    margin-top: 3em;
    padding: 0 10px;
}

body > header h1 {
    font-size: 1.55em;
    line-height: 1;
    margin: 0;
}

body > header h2 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 0;
    font-weight: normal;
}

body > header > .blurb {
   position: relative;
}

 
body > header > .blurb > .logo {
    display: none;
}

body > header > .blurb > .unfair {
    display: none;
}

body > section {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2em;
}

body > footer {
    background: rgba(40, 15, 7, 1);
    color: #F2F2EB;
    font-size: 0.9em;
    margin-top: 3em;
}

body > footer > div {
    margin-top: 2em;
    margin-bottom: 0;
    padding: 3em 10px;
    line-height: 1.5;
}

body > footer p {

}

body > footer a {
    color: #6DD6C6;
    border-bottom-color: rgba(255,255,255,0.25);
}

body > footer a:hover {
    color: white;
    border-bottom-color: rgba(255,255,255,0.5);
}

section + section {
    margin-top: 5em;
}

section > header {
    border-top: 2px solid #097E6C; /*#461B0E;*/
    border-bottom: 1px solid rgba(70, 27, 14, 0.1);
    margin: 1em 0;
    padding: 1em 10px 0 10px;
}

#application > div > section {
    padding-left: 10px;
    padding-right: 10px;
}
                                 
#application > div > section > header {
    margin-left: -10px;
    margin-right: 10px;
}

section > header > h1 {
    font-size: 1.25em;
}

section > header > p {
    font-size: 0.9em;
    margin-top: 0.25em;
    margin-bottom: 1.5em;
}

.C.global-confirm {
    position: fixed;
    top: 1.25em;
    left: 1em;
    right: 1em;
    padding: 0.5em 0.5em 0.5em 2em;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); 
    border-radius: 3px;
    font-size: 0.8em;
    opacity: 0.9
}

.C.global-confirm > .action {
    text-decoration: underline;
    color: #026;
    cursor: pointer;
}

.C.global-confirm > .close {
    float: right;
    cursor: pointer;
    display: block;
    margin: -0.5em;
    padding: 0.5em;
}

.C.global-confirm > .close:hover {
    color: #026;
}

#application {
    padding-top: 0.1em;
}

#application .loading {
    display: block;
    width: 100%;
    line-height: 6em;
    font-size: 2em;
    text-align: center;
    opacity: 0.5;
    background: rgba(0,0,0,0.1);
    margin-bottom: 1em;
    margin-top: 1em;
}

/* party */

section.party > .field {
    width: 50%;
}

section.party > .field + .field {
    margin-top: 1em;
}

section.party > .field > label
 {
    display: inline-block;
    width: 70%;
    text-align: right;
    padding-right: 8.3%;
}

section.party > .field > input
 {
    display: inline-block;
    width: 30%;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 3px;
    border: 1px solid rgba(70, 27, 14, 0.4);
}

/* filters */

section.selection a.mode-switch {
    display: inline-block;
    padding: 0.3em;
    border-radius: 0.3em;
    border: 1px solid #bbb;
    cursor: pointer;
    color: #333;
    background: #E8E8E0;
}

section.selection a.mode-switch:hover {
    color: rgb(14, 0, 194);
}

section.selection a.mode-switch.-active {
    background: #F9F9F0;
}


div.filters .selection-count {
    clear: both;
    width: 50%;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid rgba(70, 27, 14, 0.1);
    font-size: 0.9em;
    color: #666;
}


.C.attribute-filter li {
    position: relative;
    color: rgba(70, 27, 14, 0.4);
    cursor: pointer;
    padding: 0.25em;
    padding-left: 1.75em;
    text-transform: capitalize;
}


.C.attribute-filter li:before {
    position: absolute;
    display: inline-block;
    line-height: 0.95em;
    content: ' ';
    width: 1em;
    height: 1em;
    top: 0.3em;
    left: 0.25em;
    background: white;
    border: 1px solid rgba(70, 27, 14, 0.3);
    border-radius: 2px;
}

.C.attribute-filter li .count {
    float: right;
    font-style: italic;
    color:  rgba(70, 27, 14, 0.4);
    font-size: 0.8em;
    display: none;
}

.C.attribute-filter li:hover {
    background: rgba(9, 126, 108, 0.11);
    color: rgba(70, 27, 14, 0.8);
}

.C.attribute-filter li.viable {
    color: rgba(70, 27, 14, 0.8);
}

.C.attribute-filter li.viable .count {
    display: block;
}

.C.attribute-filter li.selected.viable {
    color: rgba(70, 27, 14, 1);
}


.C.attribute-filter li:after {
    position: absolute;
    display: inline-block;
    content: '✔';
    width: 0.52em;
    height: 0.56em;
    top: 0.35em;
    left: 0.41em;
    border-radius: 2px;
    opacity: 0;
    transition: 120ms opacity ease-in-out;
}

.C.attribute-filter li.selected:after {
    opacity: 1;
}


.C.attribute-filter {
    width: 25%;
    float: left;
}

.C.attribute-filter h2 {
    font-size: 1.1em;
    font-weight: normal;
}

.C.attribute-filter h2 > .reset {
    display: none;
    border: none;
    border-radius: 2px;
    background: rgba(70, 27, 14, 0.4);    
    font-size: 0.6em;
    letter-spacing: 1px;
    margin-left: 1em;
    text-decoration: none;
    color: #F2F2EB;
    cursor: pointer;
    padding: 2px 0.4em;
    position: relative;
    top: -1px;
    text-transform: uppercase;
    transition: background-color 200ms ease-in-out;
}

.C.attribute-filter h2 > .reset:hover {
    background-color: #097E6C;
}
    
.C.attribute-filter.active h2 > .reset {
    display: inline-block;
}



.C.attribute-filter ul {
    list-style: none;
    padding-left: 0;
}

.C.attribute-filter.-sources,
.C.attribute-filter.-by-name {
    width: 100%;
}

.C.attribute-filter.-sources li,
.C.attribute-filter.-by-name li{
    float: left;
    width: 25%;
    margin: 0;
}

.C.attribute-filter.-tags {
    width: 50%;
}

.C.attribute-filter.-tags li {
    float: left;
    width: 50%;
    margin: 0;
}

.C.attribute-filter.-by-name li > .count {
    display: none;
}

.C.attribute-filter.-by-name li {
    height: 3.5em;
    line-height: 1em;
}

/* results */

section.results .button,
section.results .button:active {
    border: 1px solid rgba(70, 27, 14, 0.2);
    background: #097E6C;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    padding: 1em;
    margin-bottom: 2em;
}

section.results .button:hover {
    background: rgba(70, 27, 14, 0.05); 
    color: #461B0E;
}

section.results .button.generate {
    margin-top: 1em;
}

section.results .encounters {
    list-style: none;
    padding-left: 0;
}

section.results .encounters.outofdate {
    opacity: 0.5;
}

section.results .encounters .results-summary {
    margin-bottom: 2em;
    padding-left: 10px;
}

section.results .encounters .results-summary h1 {
    font-size: 1.2em;
    font-weight: normal;
}

section.results .encounters .results-summary p {
    font-size: 1em;
    margin: 0;
}

section.results .encounters li + li {
    margin-top: 2em;
}

section.results .encounters li .allocation {
    display: block;
    background: #fafafa;
    border: 1px solid rgba(70, 27, 14, 0.2);
    height: 3em;
    position: relative;
    margin-top: -1px;
    padding: 0.25em 0.5em;    
}

section.results .encounters li .allocation.large {
    height: 4em;
    padding: 0.75em 0.5em;
}

section.results .encounters li .allocation.huge {
    height: 5em;
    padding: 1em 0.5em;
}


section.results .encounters li .allocation:first-child {
    border-radius: 5px 5px 0 0;
}

section.results .encounters li .allocation:last-child {
    border-radius: 0 0 5px 5px;
}

section.results .encounters li .allocation:first-child:last-child {
    border-radius: 5px;
}


section.results .encounters li .allocation em {
    font-style: normal;
}

section.results .encounters li .allocation .number {
    float: right;
    font-weight: bold;
    margin-left: 1em;
    font-size: 1.2em;
    margin-top:-0.15em;
}

section.results .encounters li .allocation .kind {
    display: block;
    font-size: 0.8em;
    margin-bottom: 0.25em;
    font-style: italic;
    color: #333;
}

section.results .encounters li .allocation .kind .level {
    opacity: 0.9;
    padding-left: 0.5em;
}

section.results .encounters li .allocation .kind .book {
    float: right;
    margin-left: 2em;
    font-style: normal;
    opacity: 0.5;
}

section.results .encounters li .allocation .kind .level:before {
    content: 'lvl ';
}

@media screen and (min-width:320px) {
    body > header,
    body > section,
    body > footer > div,
    body > #application {
        width: 96.88%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:640px) {
    body {
        font-size: 12pt;
    }

    section > header > .blurb > p {
        opacity: 0.8;
    }


    body > footer > div > section {
        float: left;
        width: 50%;
        padding-left: 10px;
    }

    body > footer section > p:last-child {
        margin-top: 0;
    }
    
    body > footer section > p:last-child {
        margin-bottom: 0;
    }
    
    body > footer section.fire-opal {
        padding-left: 0;
        padding-right: 10px;
        margin-bottom: 3em;
    }
    
    body > footer section.code {
        margin-top: 0;
    }

    body > footer section.illustration,
    body > footer section.alegreya {
        margin-top: 1em;
        
    }
        

    section.results .encounters li .allocation {
        display: inline-block;
        float: left;
        margin-bottom: 2px;
        margin-right: -1px;
    }

    section.results .encounters li .allocation.large {
        margin-top: -0.5em;
    }

    section.results .encounters li .allocation.huge {
        margin-top: -1em;
    }

    section.results .encounters li .allocation:first-child {
        border-radius: 5px 0 0 5px;
    }

    section.results .encounters li .allocation:last-child {
        border-radius: 0 5px 5px 0;
    }
    
    section.results .encounters li .allocation:first-child:last-child {
        border-radius: 5px;
    }
}

@media screen and (min-width:740px) {
    body > header > .blurb > p,
    section > header > p 
    {
        width: 66.666%;
    }

    body > header > .blurb > .logo {
        display: block;
        height: 150%;
        max-height: 180px;
        position: absolute;
        bottom: 0; right: 0;
        -webkit-transform: scale(-1, 1);
    } 

    body > header > .blurb > .unfair {
        display: block;
    }

    .C.global-confirm {
        left: 20%;
        right: 20%;
    }
}

@media screen and (min-width:960px) {
    body > header,
    body > section,
    body > footer > div,
    body > #application {
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
    }

    section.party > .field {
        width: 25%;
    }


    .C.attribute-filter {
        width: 16.6666%;
    }
    

    .C.attribute-filter.-sources li,
    .C.attribute-filter.-by-name li{
        width: 16.6666%;
    }

    .C.attribute-filter.-tags {
        width: 66.666%;
    }

    .C.attribute-filter.-tags li {
        float: left;
        width: 25%;
        margin: 0;
    }

}