* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  box-sizing: border-box;
}

img { 
    -moz-box-sizing: content-box; -webkit-box-sizing: content-box;  box-sizing: content-box;
}

body {
    background: #fefefe;
    color: #222;
    font-family: Helvetica;
    font-size: 12pt;
    line-height: 1.2;
}

h1 {
    margin: 0.25em 0;
}

a {
    text-decoration: none;
    border-bottom: 1px solid rgba(14, 0, 194, 0.5);
    color: rgb(14, 0, 194);
}


/* clearfix */
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}

/* specifc styling */

body >  header {
   border-bottom: 8px solid #222;
   margin-top: 3em;
   margin-bottem: 3em;
}

body > header h1 {
    font-size: 1.5em;
}

body > section {
    
}

body > footer {
    font-size: 0.8;
    margin-top: 2em;
    margin-bottom: 2em;
}

section + section {
    border-top: 6px solid #222;
    margin-top: 5em;
}

section > header {
    border-bottom: 4px solid #222;
    margin: 1em 0;
}

section > header > h1 {
    font-size: 1.25em;
}

/* party */

section.party > .field {
    float: left;
    width: 50%;
}

section.party > .field > label
 {
    display: inline-block;
    width: 66%;
    text-align: right;
    padding-right: 1em;
}

section.party > .field > input
 {
    display: inline-block;
    width: 33%;
}

/* filters */

section.filters li {
    color: #aaa;
    cursor: pointer;
}

section.filters li.selected {
    color: black;
}

section.filters .selection-count {
    clear: both;
    width: 50%;
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
    font-size: 0.9em;
    color: #666;
}

.C.attribute-filter {
    width: 25%;
    float: left;
}

.C.attribute-filter h2 {
    font-size: 1.1em;
}

.C.attribute-filter ul {
    list-style: none;
    padding-left: 0;
}

.C.attribute-filter.-tags {
    width: 50%;
}

.C.attribute-filter.-tags li {
    float: left;
    width: 50%;
    margin: 0;
}

/* results */

section.results .button {
    border: 1px solid #ddd;
    background: #eee;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    padding: 1em;
}

section.results .button:hover {
    background: #767676;
    color: white;
}

section.results .button.generate {
    margin-top: 1em;
}

section.results .encounters {
    list-style: none;
    padding-left: 0;
}

section.results .encounters li + li {
    margin-top: 2em;
}

section.results .encounters li .allocation {
    display: inline-block;
    float: left;
    background: #fafafa;
    border: 1px solid #ddd;
    height: 3em;
    position: relative;
    margin-right: -1px;
    padding: 0.25em 0.5em;    
    margin-bottom: 2px;
}

section.results .encounters li .allocation.large {
    height: 4em;
    padding: 0.75em 0.5em;
    margin-top: -0.5em;
}

section.results .encounters li .allocation.huge {
    height: 5em;
    padding: 1em 0.5em;
    margin-top: -1em;
}

section.results .encounters li .allocation:first-child {
    border-radius: 5px 0 0 5px;
}

section.results .encounters li .allocation:last-child {
    border-radius: 0 5px 5px 0;
}

section.results .encounters li .allocation:first-child:last-child {
    border-radius: 5px;
}


section.results .encounters li .allocation em {
    font-style: normal;
}

section.results .encounters li .allocation .number {
    float: right;
    font-weight: bold;
    margin-left: 1em;
}

section.results .encounters li .allocation .kind {
    display: block;
    font-size: 0.8em;
    margin-bottom: 0.25em;
    font-style: italic;
    color: #333;
}

section.results .encounters li .allocation .kind .level {
    float: right;
}

section.results .encounters li .allocation .kind .level:before {
    content: 'lvl ';
}

@media screen and (min-width:320px) {
    body > header,
    body > section,
    body > footer,
    body > #application {
        width: 96.88%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width:960px) {
    body > header,
    body > section,
    body > footer,
    body > #application {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    section.party > .field {
        float: left;
        width: 25%;
    }
}